@font-face {
  font-family: OpenSans-Regular;
  src: url(Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(Poppins/Poppins-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}
.container-table100 {
  font-family: OpenSans-Regular;
  width: 100%;
  min-height: 100vh;
  background: url();
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
  animation: chgebg 10s ease infinite;
  background-size: 300% 100%;
}

@keyframes chgebg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  background: url("/images/backg3.jpg");
  background-size: cover;
}
.wrap-table100 {
  width: 1500px;
  box-shadow: 0 5px 30px rgb(173, 173, 173);
  border-radius: 20px;
}
table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td,
table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #36304a;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td,
table th {
  text-align: left;
}
table td.l,
table th.l {
  text-align: right;
}
table td.c,
table th.c {
  text-align: center;
}
table td.r,
table th.r {
  text-align: center;
}
.table100-head th {
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}
tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  font-weight: 100;
  color: rgb(39, 38, 38);
  line-height: 1.2;
  font-weight: unset;
  opacity: 0.5;
}
tbody tr:hover {
  color: #555;
  background-color: #f5f5f5;
  cursor: pointer;
  opacity: 1;
}
.column1 {
  width: 180px;
  text-align: center;
  font-family: OpenSans-Regular;
  font-weight: bolder;
  color: #000;
}
.column2 {
  width: 160px;
  text-align: center;
}
.column3 {
  width: 150px;
  text-align: center;
}
.column4 {
  width: 100px;
  text-align: center;
}
.column5 {
  width: 170px;
  text-align: center;
}
.column6 {
  width: 150px;
  text-align: center;
}
.column7 {
  width: 200px;
  text-align: center;
}
.column8 {
  width: 150px;
  text-align: center;
}
.column9 {
  width: 150px;
  text-align: center;
}
.column10 {
  width: 100px;
  text-align: center;
}
.column11 {
  width: 250px;
  text-align: center;
}

.img {
  border-radius: 150px;
}

.heading {
  font-family: Poppins-Regular;
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  color: rgb(221, 221, 221);
  /* margin-bottom: 10px; */
  text-transform: uppercase;
}
